.artist-Reel {
  max-height: 20vh;
  padding-top: 0.4rem;
  background-color: $color-grey-light;
  overflow-x: scroll;
  
  .reel-header {
    width: 100%;
    margin: 0;
    font-family: $font-serif;
    font-size: 1.4rem;
    text-align: center;
    color: $color-accent-medium;
  }
  .artists {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0.6rem 0;
  }
  .artists::-webkit-scrollbar {
    display: none;
  }

  .artist-card {
    min-width: 30vw;
    margin: 0 0.6rem;
    overflow-wrap: break-word;
    text-align: center;
    img{
      max-width: 50%;
    }
    
    .artist-name{
      font-size: 18px;
    }

    .bio{
      display: none;  
    }
    
  }

  //For tablets and larger screens
  @media (min-width: 640px) {
    flex: 1;
    order: 1;
    max-height: fit-content;
    overflow-y: scroll;

    .artists {
      display: flex;
      flex-direction: column;
    }
    .artist-card {
      min-width: 0;
      padding-bottom: 0.6rem;
      .bio{
        display: block;
      }
    }
  }

  //For Desktop Monitors and larger
  @media (min-width: 1024px) {
  }
}
