.Image-Slideshow {
  display: flex;
  overflow: hidden;

  button {
    height: fit-content;
    border: none;
    background: none;
  }
  .reel-icon {
    height: 1rem;
  }

  .reel-image {
    height: 150px;
  }
}
  
@media (min-width: 640px) {
        
      }

