.Image-Slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  button {
    height: fit-content;
    border: none;
    background: none;
  }

  .reel-icon {
    height: 1.6rem;
  }

  .reel-image {
    max-width: 80%;
  }

  @media (min-width: 640px) {
    .reel-image {
      max-height: 280px;
    }
  }
}
