.main-header {
  /* background-color: #33708f;
    background-repeat: no-repeat; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #d54000;
  height: 5vh;
  padding: 0.8rem;
  nav {
    gap: 1em;
    display: flex;
    align-items: flex-end;
    a, //de fleste statuser for a vil ha denne stylingen. fjernet a:active, men må kanskje ekskludere flere?
        a:link,
        a:visited,
        a:focus,
        a:hover {
      color: #d54000;
      text-decoration: none;
      cursor: crosshair;
    }
  }
  .logo {
    height: 3rem;
  }
  // Mobile landscape, tablet
  @media (min-width: 640px) {
  }
  // Desktop
  @media (min-width: 1024px) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}
