.App {
  height: 100vh;
  width: 100vw;
  link {
    color: $color-accent-dark;
  }
  .main-content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 640px) {
    .main-content {
      margin: 0 auto;
      max-width: 1024px;
    }
  }
  @media (min-width: 1024px) {
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
