// General page colors
$color-main-light: #9dced1;
$color-main-medium: #4c9ba0;
$color-main-dark: #457b87;
// Contrast colors
$color-accent-light: #edcdb6;
$color-accent-medium: #f36335;
$color-accent-dark: #d54000;
// Greyscale colors
$color-grey-light: #fcfefd;
$color-grey-mediumLight: #dee7e7;
$color-grey-medium: #4f4f4f;
$color-grey-dark: #333;

// Test Links